@import "../../utils/utils.scss";

input{
	font-family: $font-family;
	border: none;
	border-bottom: $font-color solid 3px;
	background: transparent;
	padding: 3px;
	&:focus{
		outline: none;
		transform: scale(1.01);
	}

}