@import "../../utils/utils.scss";


.authorization{
	display: flex;
	flex-direction: column;
	width: 500px;
	align-items: center;
	font-family: $font-family ;
	align-items: center;
	margin: 200px 0;


	&__header{
		font-size: 30px;
		font-weight: 700;
	}


	input{
		margin: 5px 20px;
	}

	&__btn{
		border: none;
		background-color: $font-color;
		border-radius: 8px;
		color: white;
		padding: 5px 10px;
		font-weight: 700;
		align-self: flex-end;
		cursor: pointer;
	}
}