@import "../../utils/utils.scss";

.authorization {
	max-width: 500px;
	width: 100%;
	margin: 80px 0;

	font-family: $font-family;

	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	&__header {
		font-family: $font-family;
		font-size: 30px;
		font-weight: 500;
		user-select: none;
	}

	input {
		margin: 16px 20px;
		font-size: 18px;
		border-bottom: solid 4px rgb(92, 93, 93);
		&::placeholder {
			font-size: 18px;
			font-family: $font-family;
		}
	}

	&__btn {
		font-family: $font-family;
		border: none;
		background-color: $font-color;
		border-radius: 8px;
		color: white;
		padding: 12px 20px;
		font-weight: 700;
		align-self: flex-end;
		cursor: pointer;
	}
}
