@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;500;800&display=swap');

$font-family: 'Manrope', sans-serif;
$background-color: rgb(236, 202, 202);
$width-leftBar: 180px;
$font-color: #c23636;