@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap");

$background-color: rgb(236, 202, 202);
$width-leftBar: 180px;
$font-color: #c23636;

$font-family: "Exo 2", sans-serif;
